
/* Filter */

.search {
	margin-top: 32px;
	min-height: 96px;
	padding: 16px; 
	
	background-color: #ffffff;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media (min-width: 1025px) {
	.search {
		margin-top: 48px;
	}
}

/* Branding */

.branding, 
.branding__img {
	display: block;
}
.branding__img {
	height: 48px;
	width: 140px;
}

@media (min-width: 1025px) {
	.branding__img {
		height: 56px;
		width: 164px;
	}
}

/* Icon List */

.icon__list__anchor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	color: inherit;
	text-decoration: none;
}
.icon__list--stacked .icon__list__anchor {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.icon__list__icon {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	min-width: 1em;
	
	text-align: center;
}
.icon__list--circles .icon__list__icon {
	border-radius: 50%;
}
.icon__list__content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.icon__list--stacked .icon__list__content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
}
.icon__list__title, 
.icon__list__description {
	display: block;
}

/* Social List */

.social__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.social__list__item + .social__list__item {
	margin-left: 12px;
}
.social__list__anchor {
	display: block;
	height: 24px;
	width: 24px;
	
	color: inherit;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	
	background-color: #ffa827;
	border-radius: 50%;
}

@media (min-width: 1025px) {
	.social__list__item + .social__list__item {
		margin-left: 16px;
	}
}

/* Product List */

.product__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -8px !important;
	margin-left: -8px !important;
	
	text-align: left;
}
.product__list__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	margin-top: 16px;
	padding: 8px;
}
.product__list__anchor, 
.product__list__image, 
.product__list__title, 
.product__list__flag, 
.product__list__detail, 
.product__list__price {
	display: block;
}
.product__list__anchor {
	position: relative;
	
	color: inherit;
	text-decoration: none;
	
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-transition: all .2s cubic-bezier(.25,.8,.25,1);
	-moz-transition: all .2s cubic-bezier(.25,.8,.25,1);
	-o-transition: all .2s cubic-bezier(.25,.8,.25,1);
	transition: all .2s cubic-bezier(.25,.8,.25,1);
}
.product__list__anchor:focus, 
.product__list__anchor:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.product__list__flag {
	padding: 2px 6px;
	position: absolute;
	top: -8px;
	left: -8px;
	
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	
	background-color: #ffa827;
	border-radius: 4px;
}
.product__list__image {
	height: auto;
	width: 100%;
	
	border-radius: 6px 6px 0 0;
}
.product__list__content {
	padding: 16px;
}
.product__list__title {
	margin-bottom: 16px;
}
.product__list__table {
	table-layout: fixed;
	width: 100%;
	
	font-size: 14px;
	line-height: 24px;
}
.product__list__table td {
	padding: 2px 0;
}
.product__list__table td:first-child {
	width: 40%;
}
.product__list__action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 0 16px 16px;
}
.product__list__detail {
	margin-top: 6px;
	
	color: #ffa827;
	font-size: 14px;
	line-height: 24px;
	text-decoration: underline;
}

@media (min-width: 768px) {
	.product__list__item {
		-ms-flex-preferred-size: 50%;
        flex-basis: 50%;
		margin-top: 0;
		max-width: 50%;
	}
	.product__list__anchor {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 100%;
	}
	.product__list__title {
		min-height: 60px;
	}
	.product__list__image, 
	.product__list__content, 
	.product__list__action {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
	.product__list__action {
		margin-top: auto;
	}
}

@media (min-width: 1025px) {
	.product__list {
		margin-right: -12px !important;
		margin-left: -12px !important;
	}
	.product__list__item {
		-ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
		max-width: 33.33333%;
		padding: 12px;
	}
	.product__list__flag {
		top: -12px;
		left: -12px;
	}
	.product__list__content {
		padding: 24px;
	}
	.product__list__title {
		margin-bottom: 24px;
		min-height: 90px;
	}
	.product__list__action {
		padding: 0 24px 24px;
	}
}

@media (min-width: 1200px) {
	.product__list__item {
		-ms-flex-preferred-size: 25%;
        flex-basis: 25%;
		max-width: 25%;
	}
}

/* Pagination */

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.pagination__anchor {
	display: block;
	height: 48px;
	width: 48px;
	
	color: inherit;
	line-height: 48px;
	text-align: center;
	text-decoration: none;
	
	border-radius: 4px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.pagination__anchor:focus, 
.pagination__anchor:hover, 
.pagination__item--active .pagination__anchor {
	background-color: #ffa827;
}

/* TeamMates List */ 

.teammates__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -8px !important;
	margin-left: -8px !important;
	
	text-align: left;
}
.teammates__list__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	padding: 8px;
}
.teammates__list__item + .teammates__list__item {
	margin-top: 16px;
}
.teammates__list__image, 
.teammates__list__web, 
.teammates__list__title, 
.teammates__list__description {
	display: block;
}
.teammates__list__anchor {
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.teammates__list__decor {
	position: relative;
}
.teammates__list__image {
	height: auto;
	width: 100%;
	
	border-radius: 6px 6px 0 0;
}
.teammates__list__web {
	position: absolute;
	bottom: 8px;
	left: 8px;
	padding: 2px 8px;
	
	color: #e7e7e7;
	font-size: 12px;
	line-height: 20px;
	text-decoration: none;
	
	background-color: rgba(27, 27, 27, 0.66);
	border-radius: 99999px;
}
.teammates__list__web i {
	margin-right: 4px;
}
.teammates__list__content {
	padding: 16px;
}
.teammates__list__description, 
.teammates__list__content .icon__list {
	font-size: 14px;
	line-height: 24px;
}
.teammates__list__description {
	margin-bottom: 16px;
	
	color: #767676;
}
.teammates__list__content .icon__list {
	margin-right: 0;
	margin-left: 0;
	max-width: none;
}
.teammates__list__content .icon__list__icon {
	margin-right: 8px;
	
	color: #ffa827;
}
.teammates__list__action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	overflow: hidden;
	
	border-radius: 0 0 6px 6px;
}
.teammates__list__btn {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	display: block;
	min-height: 64px;
	padding: 8px 16px;
	
	color: inherit;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	
	background-color: #ffa827;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.teammates__list__btn--muted {
	background-color: #f5f5f5;
}
.teammates__list__btn:focus, 
.teammates__list__btn:hover {
	background-color: #f39100;
}
.teammates__list__btn--muted:focus, 
.teammates__list__btn--muted:hover {
	background-color: #e0e0e0;
}
.teammates__list__btn span, 
.teammates__list__btn strong {
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media (min-width: 768px) {
	.teammates__list__item {
		-ms-flex-preferred-size: 50%;
        flex-basis: 50%;
		max-width: 50%;
	}
	.teammates__list__item + .teammates__list__item {
		margin-top: 0;
	}
	.teammates__list__anchor {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 100%;
	}
	.teammates__list__decor, 
	.teammates__list__content, 
	.teammates__list__action {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}
	.teammates__list__action {
		margin-top: auto;
	}
}

@media (min-width: 1025px) {
	.teammates__list {
		margin-right: -12px !important;
		margin-left: -12px !important;
	}
	.teammates__list__item {
		-ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
		max-width: 33.33333%;
		padding: 12px;
	}
	.teammates__list__web {
		bottom: 12px;
		left: 12px;
	}
	.teammates__list__content {
		padding: 24px;
	}
	.teammates__list__description {
		margin-bottom: 24px;
	}
}

@media (min-width: 1200px) {
	.teammates__list__item {
		-ms-flex-preferred-size: 25%;
        flex-basis: 25%;
		max-width: 25%;
	}
}

/* Back Btn */

.back__btn, 
.seeall__btn {
	color: inherit;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
}
.back__btn i, 
.seeall__btn i {
	margin-right: 8px;
	width: 1em;
	
	color: #ffa827;
	text-align: center;
}

/* Flag */

.flag {
	display: inline-block;
	padding: 2px 6px;
	vertical-align: bottom;
	
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	
	background-color: #ffa827;
	border-radius: 4px;
}

/* Photo Slider */

.photo {
	height: auto;
	width: 100%;
}
.photo__slider#photo__slider--secondary {
	margin-top: 8px;
}
.photo__slider .splide__slide {
	border-radius: 6px;
}
.photo__slider#photo__slider--secondary .splide__slide {
	border: 2px solid #ffffff;
}
.photo__slider#photo__slider--secondary .splide__slide.is-active {
	border-color: #ffa827;
}

@media (min-width: 1025px) {
	.photo__slider#photo__slider--secondary {
		margin-top: 12px;
	}
}

/* Detail Tables */

.detail__tables {
	font-size: 14px;
	line-height: 24px;
}
.detail__table {
	table-layout: fixed;
	width: 100%;
}
.detail__table td {
	padding: 4px 0;
}
.detail__table td:first-child {
	width: 40%;
}

@media (min-width: 768px) {
	.detail__tables {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		margin-right: -16px;
		margin-left: -16px;
	}
	.detail__table {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
	.detail__table + .detail__table {
		border-left: 1px solid #eeeeee;
	}
	.detail__table td {
		padding: 4px 16px;
	}
}

@media (min-width: 1025px) {
	.detail__tables {
		margin-right: -24px;
		margin-left: -24px;
	}
	.detail__table td {
		padding: 4px 24px;
	}
}

/* Avatar */

.avatar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.avatar__decor {
	overflow: hidden;
	height: 64px;
	width: 64px;
	margin-right: 12px;
	
	border-radius: 50%;
}
.avatar__img, 
.avatar__title {
	display: block;
}
.avatar__img {
	height: auto;
	width: 100%;
}
.avatar__content {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.avatar__title {
	margin-bottom: 8px;
}
.avatar__content .icon__list {
	font-size: 14px;
	line-height: 24px;
}
.avatar__content .icon__list__icon {
	margin-right: 8px;
	
	color: #ffa827;
}

@media (min-width: 1025px) {
	.avatar__decor {
		margin-right: 16px;
	}
}

/* SlideShow */

.slideshow, 
.slideshow__item {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.slideshow {
	background-image: url(../images/slideshow-backgrounds/01.jpg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.slideshow__item {
	opacity: 0;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-webkit-animation: slideShow 36s linear infinite 0s;
	-moz-animation: slideShow 36s linear infinite 0s;
	-o-animation: slideShow 36s linear infinite 0s;
	animation: slideShow 36s linear infinite 0s;
}
.slideshow__item:nth-child(1) {
	background-image: url(../images/slideshow-backgrounds/01.jpg);
}
.slideshow__item:nth-child(2) {
	background-image: url(../images/slideshow-backgrounds/02.jpg);
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	animation-delay: 6s;
}
.slideshow__item:nth-child(3) {
	background-image: url(../images/slideshow-backgrounds/03.jpg);
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-o-animation-delay: 12s;
	animation-delay: 12s;
}
.slideshow__item:nth-child(4) {
	background-image: url(../images/slideshow-backgrounds/04.jpg);
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-o-animation-delay: 18s;
	animation-delay: 18s;
}
.slideshow__item:nth-child(5) {
	background-image: url(../images/slideshow-backgrounds/05.jpg);
	-webkit-animation-delay: 24s;
	-moz-animation-delay: 24s;
	-o-animation-delay: 24s;
	animation-delay: 24s;
}
.slideshow__item:nth-child(6) {
	background-image: url(../images/slideshow-backgrounds/06.jpg);
	-webkit-animation-delay: 30s;
	-moz-animation-delay: 30s;
	-o-animation-delay: 30s;
	animation-delay: 30s;
}

@-webkit-keyframes slideShow {
	0% { 
		opacity: 0;
		-webkit-animation-timing-function: ease-in;
		-moz-animation-timing-function: ease-in;
		-o-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	8% { 
		opacity: 1; 
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		-o-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	17% { opacity: 1; }
	25% { opacity: 0; }
	100% { opacity: 0; }
}

@-moz-keyframes slideShow {
	0% { 
		opacity: 0;
		-webkit-animation-timing-function: ease-in;
		-moz-animation-timing-function: ease-in;
		-o-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	8% { 
		opacity: 1; 
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		-o-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	17% { opacity: 1; }
	25% { opacity: 0; }
	100% { opacity: 0; }
}

@-o-keyframes slideShow {
	0% { 
		opacity: 0;
		-webkit-animation-timing-function: ease-in;
		-moz-animation-timing-function: ease-in;
		-o-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	8% { 
		opacity: 1; 
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		-o-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	17% { opacity: 1; }
	25% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes slideShow {
	0% { 
		opacity: 0;
		-webkit-animation-timing-function: ease-in;
		-moz-animation-timing-function: ease-in;
		-o-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	8% { 
		opacity: 1; 
		-webkit-animation-timing-function: ease-out;
		-moz-animation-timing-function: ease-out;
		-o-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	17% { opacity: 1; }
	25% { opacity: 0; }
	100% { opacity: 0; }
}

/* Overlay */

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.overlay.black {
	background-color: #010101;
	opacity: .66;
}
.overlay.yellow {
	background-color: #ffa827;
	opacity: .88;
}

/* Shape Divider */

.shape {
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	line-height: 0;
}
.shape--bottom {
	bottom: -1px;
}
.shape svg {
	display: block;
	height: 16px;
	left: 50%;
	position: relative;
	width: 1024px;
	z-index: 1;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.shape--yellow svg {
	fill: #ffa827;
}

@media (min-width: 1025px) {
	.shape svg {
		height: 24px;
		width: 1440px;
	}
}

@media (min-width: 1200px) {
	.shape svg {
		width: calc(100% + 1.3px);
	}
}

/* Navigation Trigger */

.navigation__trigger {
	display: block;
	padding: 8px;
	position: relative;
	height: 48px;
	width: 48px;
}
.navigation__trigger span {
	display: block;
	opacity: 1;
	position: absolute;
	left: 8px;
	height: 4px;
	width: 32px;
	
	font-size: 0;
	
	background-color: #010101;
	border-radius: 2px;
}
.navigation__trigger span:nth-child(1) {
	top: 14px;
}
.navigation__trigger span:nth-child(2), 
.navigation__trigger span:nth-child(3) {
	top: 22px;
}
.navigation__trigger span:nth-child(4) {
	top: 30px;
}
.navigation__trigger.opened span:nth-child(1), 
.navigation__trigger.opened span:nth-child(4) {
	opacity: 0;
	top: 22px;
}
.navigation__trigger.opened span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.navigation__trigger.opened span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Navigation Menu */

.navigation__menu__anchor {
	display: block;
	
	color: inherit;
	text-decoration: none;
}


/* Offsite Menu */

.offsite__menu__anchor {
	position: relative;
	
	color: inherit;
	text-decoration: none;
}
.offsite__menu__anchor:after {
	bottom: -4px;
	content: " ";
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	right: 22px;
	
	background-color: #ffa827;
	border-radius: 2px;
}
.offsite__menu__anchor i {
	color: #767676;
	
	margin-left: 8px;
}

/* Form */

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 8px;
	
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	
	background-color: #ffffff;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.form__group {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	padding: 8px;
}
::placeholder {
	color: #c3c3c3;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #c3c3c3;
}

::-ms-input-placeholder {
	color: #c3c3c3;
}
button, 
input, 
select, 
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button, 
input {
	overflow: visible;
}
button, 
select {
	text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}
select:invalid {
	color: #c3c3c3;
}
select:invalid option {
	color: #010101;
}
.form__label {
	display: block;
	margin-bottom: 8px;
}
.form__control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	height: 40px;
	padding: 0 12px;
	vertical-align: bottom;
	width: 100%;
	
	color: inherit;
	line-height: 40px;
	
	background-color: #f5f5f5;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.08) inset;
}
textarea.form__control {
	height: auto;
	padding: 8px 12px;
	line-height: 24px;
}
select.form__control {
	
}
.form__control--error {
	background-color: #faebee;
}
.form__consent {
	cursor: pointer;
	display: block;
	padding-left: 18px;
	position: relative;
	color: #767676;
	font-size: 12px;
	line-height: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.form__consent + .form__consent {
	margin-top: 4px;
}
.form__consent a {
	color: inherit;
}
.form__consent input {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}
.form__consent .checkmark {
	display: block;
	height: 14px;
	left: 0;
	position: absolute;
	top: 3px;
	width: 14px;
	
	color: #c3c3c3;
	font-size: 9px;
	line-height: 14px;
	text-align: center;
	
	background-color: #f5f5f5;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.08) inset;
}
.form__consent input:checked ~ .checkmark {
	color: #010101;
	background-color: #ffa827;
	box-shadow: none;
}
.btn {
	cursor: pointer;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: bottom;
	
	color: inherit;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	
	background-color: #ffa827;
	border: 0;
	border-radius: 4px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.btn:focus, 
.btn:hover {
	background-color: #f39100;
}
.error__message {
	display: block;
	margin-top: 4px;
	padding-left: 18px;
	position: relative;
	
	color: #ff0033;
	font-size: 12px;
	line-height: 20px;
}
.error__message i {
	position: absolute;
	top: 3px;
	left: 0;
	
	font-size: 14px;
}
.form__group--consent .error__message {
	margin-top: 0;
	margin-bottom: 4px;
}

@media (min-width: 1025px) {
	.form, 
	.form__group {
		padding: 12px;
	}
	.form__group--l-half {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
	}
	.form__group--consent {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 0px;
		flex: 1 1 0;
	}
	.form__group--submit {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
	.form__control {
		height: 48px;
		padding: 0 16px;
		
		font-size: 18px;
		line-height: 48px;
	}
	textarea.form__control {
		height: auto;
		padding: 9px 16px;
		
		line-height: 30px;
	}
	.btn {
		padding: 9px 24px;
		
		font-size: 18px;
		line-height: 30px;
	}
}

@media (min-width: 1200px) {
	.form {
		padding: 36px;
	}
}

/* Sort */

.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.sort__select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	height: 24px;
	margin-left: 12px;
	padding: 0;
	vertical-align: bottom;
	
	color: #767676;
	line-height: 23px;
	
	background-color: #ffffff;
	border: 0;
	border-bottom: 1px solid #c3c3c3;
}

/* Testimonials */

.testimonial {
	padding: 16px;
}
.testimonial__rating {
	color: #ffa827;
}
p.testimonial__name {
	margin-bottom: 0;
}
.testimonial__description {
	color: #767676;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 1025px) {
	.testimonial {
		padding: 24px;
	}
	.testimonials__slider:before, 
	.testimonials__slider:after {
		bottom: 0;
		content: " ";
		display: block;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 33.33333%;
	}
	.testimonials__slider:before {
		left: 0;
		z-index: 1;
		
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
	}
	.testimonials__slider:after {
		right: 0;
		
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
	}
}

@media (min-width: 1200px) {
	.testimonial {
		padding: 24px 48px;
	}
}

/* Slider */

.splide__arrows {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	pointer-events: none;
	position: absolute;
	margin-top: -16px;
	top: 50%;
	left: -16px;
	right: -16px;
}
.splide__arrow {
	display: inline-block;
	height: 32px;
	padding: 0;
	pointer-events: all;
	position: relative;
	vertical-align: bottom;
	width: 32px;
	z-index: 1;
	
	color: #c3c3c3;
	font-size: 21px;
	line-height: 32px;
	text-align: center;
	
	background-color: #ffffff;
	border: 0;
	border-radius: 4px;
}
.splide__arrow:after {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}
.splide__arrow--prev:after {
	content: "\f104";
}
.splide__arrow--next:after {
	content: "\f105";
}
.splide__arrow svg {
	display: none;
}

@media (min-width: 1025px) {
	.splide__arrows {
		margin-top: -24px;
		right: -24px;
		left: -24px;
	}
	.splide__arrow {
		height: 48px;
		width: 48px;
		
		font-size: 24px;
		line-height: 48px;
	}
}
